/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

.file-input {
    margin-bottom: 20px;
}

.file-input label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-input label:hover {
    background-color: #5a005a;
}

.file-input input {
    display: none;
}

.methods {
    margin-bottom: 20px;
}

.methods label {
    color: #fff;
    font-weight: bold;
}

.methods select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a005a;
}

.image-preview {
    margin-top: 20px;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#clearButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none; /* Скрыть кнопку по умолчанию */
}

#clearButton:hover {
    color: #ff6666;
}